* {
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: auto;
    padding: 35px;
}

#search_bar {
    padding-top: 20px;
    padding-bottom: 10px;

}

input[type="text"] {
    display: block;   
    margin: auto;
    width: 460px;
    padding: 13px;
    border: 1px solid silver;
    border-radius: 4px;
}

input[type="text"]::placeholder {
        color: silver;
        font-size: 14px;
}

img {
    padding: 27px;
}
