* {
    box-sizing: border-box;
}

body {
    width: 85%;
    position: center;
    margin: auto;
}

#search_bar {
    padding-top: 20px;
    padding-bottom: 10px;
    
}

input[type="text"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 40%;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 4px;
    min-width: 300px;
}

input[type="text"]::placeholder {
        color: silver;
        font-size: 11px;
}